<div class="container-project">
    <div class="col-xs-7">
      <h4><%= title1 %></h4>
      <p><%= texto1 %></p>
      <h4><%= title2 %></h4>
      <p><%= texto2 %></p>
      <h4><%= title3 %></h4>
      <p><%= texto3 %></p>
    </div>
</div>
