<div class="timeline">
  <div class="col-xs-1 clearfix controls">
    <span class="pull-right control-video video-stop">
      <img src="images/bot_timeline_pause.svg" alt="Pause Video"/>
    </span>
  </div>
  <div class="col-xs-11 line">
    <div class="wrapper-timeline clearfix">
      <div class="inner-timeline-base"></div>
      <div class="inner-timeline"></div>
    </div>
  </div>
</div>
