<div class="participate animated fadeInUp">
  <div class="col-xs-12">
    <div class="wrapper-participate">
      <p>
        <button id="unsuscribe" type="button" class="btn btn-default">Unsuscribe</button>
        <button id="gotoweb" type="button" class="btn btn-default">Go to web</button>
      </p>
    </div>
  </div>
</div>