<div class="participate animated fadeInUp">
  <h1 class="col-xs-12"><strong><%= title %> <%= name %>,</strong></h1>
  <h2 class="confirmation-subtitle col-xs-12"><%= p1 %></h2>
  <div class="col-xs-4 col-xs-offset-4">
    <div class="wrapper-confirmation-action">
      <p>
        <a href="/"  type="button" class="btn btn-default"><%= b1 %></a>
      </p>
    </div>
    <div class="social"></div>
  </div>
</div>
