{% extends '::admin_base.html.twig' %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
<div class="container">
	<h2>Test request render</h2>
	<form action="{{ path('_admin_queue_request_rendered_video') }}" method="post">
	 	{{ form_widget(form) }}
	    <input type="submit" />
	</form>
<pre>
</pre>

<div class="">
    <h2>{{video_id}}</h2>
    {% if results.render is defined %}
    <video id='video' controls='true' style="max-height: 170px;">
        <source src="{{results.render}}" type="video/mp4">
    </video>
    {% endif %}
</div>

</div>
{% endblock %}
