{% extends '::admin_base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
<div class="container">
<h2>Test a slow operation job</h2>
<form action="{{ path('_admin_queue_send_test_background') }}" method="post">
 	{{ form_widget(form) }}
    <input type="submit" />
</form>
Result: {{ result }}<br/>
</div>
{% endblock %}