<div class="participate container-content container-content-video-config container-content-video-config-intro">
  <div class="content-intro table">
    <div class="table-cell">
      <h1><%= h1 %></h1>
      <p><%= p %></p>
      <a href="m/signup/<%= tag %>/config-video/title" id="participate" type="button" class="btn btn-default"><%= button %></a>
    </div>
  </div>
</div>

