<div id="background">
  <div id="backgroundImg"></div>
  <div id="backgroundVideo"></div>
  <div id="mascara" style="display: none;"></div>
</div>
<div id="content"></div>
<header></header>
<footer></footer>
