<div class="container-content container-thanks container-content-upload participate">
  <h1><strong><%= title %></strong></h1>
  <p class="subtitle"><%= p1 %></p>
  <div class="social"></div>
  <!--<a href="m/signup/<%= tag %>/config-video/intro" type="button" class="btn btn-default generaP-preview btn-gold"><%= b4 %></a>-->
</div>
