<div class="container-content container-content-upload participate">
  <h1><strong><%= title %></strong></h1>
  <p class="subtitle"><%= p1 %></p>
  <a class="btn btn-default btn-thanks-back" href="#m/" role="button">BACK</a>
</div>