<video id="bgVideo" class="video-js vjs-default-skin" preload autoplay> <!--todo:[debug] autoplay -->
  <source src="<%= mp4Url %>" type='video/mp4'/>
  <source src="<%= webmUrl %>" type='video/webm'/>
  <source src="<%= ogvUrl %>" type='video/ogv'/>
</video>
<!--{{ asset('bundles/frontend/data/CH_video.mp4') }}-->
