  <ul class="social-list">
    <li><a data-bypass><div class="share-facebook s-facebook"></div></a></li>
    <li><a data-bypass><div class="share-twitter s-twitter"></div></a></li>
    <!--<li><a data-bypass><div class="share-pinterest s-pinterest"></div></a></li>-->
    <li><a data-bypass><div class="share-gplus s-gplus"></div></a></li>
    <!--<li><a href="https://instagram.com/212carolinaherrera" target="_blank" data-bypass ><div class="s-instagram"></div></a></li>-->
  </ul>

