  <ul class="social-list small-socials">
    <li><a data-bypass><div class="share-facebook small-facebook"></div></a></li>
    <li><a data-bypass><div class="share-twitter small-twitter"></div></a></li>
    <li><a data-bypass><div class="share-gplus small-gplus"></div></a></li>
    <!--<li><a href="https://instagram.com/212carolinaherrera" target="_blank" data-bypass ><div class="s-instagram"></div></a></li>-->
  </ul>

