
html, .gallery {
  height: 100%;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.gallery #container, .gallery section {
  background: #1d1d1d;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
}

.gallery #video212 {
  background-size: contain;
  background: no-repeat center center;
}

.gallery.mobile #video212 {
  padding-top: 10%;
  background: #000;
}

.gallery.mobile #video212 iframe {
  height: calc(100% - 40px);
}

.gallery ul.gallery-slides,
.gallery .controls,
.gallery nav,
.gallery .tip,
.gallery .share {
  display: none;
}

.gallery ul.gallery-slides {
  width: 300%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: margin .35s ease;
  -moz-transition: margin .35s ease;
  -webkit-transition: margin .35s ease;
}

.gallery ul.gallery-slides li {
  width: 33.333333%;
  height: 100%;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  background: no-repeat center center;
  background-size: cover;
  opacity: .4;
  transition: opacity .6s ease .3s;
  -moz-transition: opacity .6s ease .3s;
  -webkit-transition: opacity .6s ease .3s;
}

.gallery ul.gallery-slides li.active {
  opacity: 1;
}

.gallery ul.gallery-slides li img {
  display: none;
  margin: 0 auto;

}

/* sprite */
.gallery .s-gal, .gallery .controls a {
  background: url(../images/desktop/sprite-gallery@2x.png) no-repeat;
  background-size: 312px 106px;
}

.gallery nav {
  transition: opacity 1s ease .3s;
  -moz-transition: opacity 1s ease .3s;
  -webkit-transition: opacity 1s ease .3s;
}

.gallery nav {
  position: fixed;
  bottom: 70px;
  left: 20px;
  width: 42px;
  display: block;
  opacity: 0;
  z-index: 20;
  line-height: 12px;
  width: 120px !important;
}


.gallery nav a {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 1px;
  background-color: #8e8e8e;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  cursor: pointer;
  opacity: .5;
}

.gallery nav a.active {
  background-color: $grey-base;
}

.gallery nav a:hover {
  background-color: $grey-base;
}

.gallery .controls {
  position: absolute;
  display: none !important; //todo: Se ocultan por incoherencia en el diseño.
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.gallery .controls a {
  width: 75px;
  height: 75px;
  position: absolute;
  opacity: .7;
}

.gallery .controls a:hover {
  opacity: 1;
}

.gallery .controls a.disabled {
  opacity: .1;
}

.gallery.mobile .controls a.disabled {
  opacity: 0;
}

.gallery .controls a.up {
  left: 50%;
  margin-left: -37px;
  top: 0;
  background-position: 0 0;
}

.gallery .controls a.down {
  left: 50%;
  margin-left: -37px;
  bottom: 45px;
  background-position: -79px 0;
}

.gallery .controls a.left {
  top: 50%;
  margin-top: -37px;
  left: 0;
  background-position: -158px 0;
}

.gallery .controls a.right {
  top: 50%;
  margin-top: -37px;
  right: 0;
  background-position: -230px 0;
}

.gallery .close {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
}

.gallery .close a {
  opacity: .7;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.gallery .close a img {
  width: 60px;
  height: 60px;
  background-position: -98px -65px;
}

.gallery .close a:hover {
  opacity: 1
}

.gallery .tip {
  position: fixed;
  width: 350px;
  margin-left: -125px;
  left: 50%;
  bottom: 70px;
  text-align: center;
  text-transform: uppercase;
  color: $grey-base;
  font-size: 13px;
  line-height: 17px;
}

.gallery .share {
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 15;
}

.gallery .share span {
  width: 14px;
  height: 20px;
  background-position: 0 -73px;
  font-size: 13px;
  text-transform: uppercase;
  color: $grey-base;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
  display: inline;
  cursor: pointer;
  float: left;
  opacity: 1;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.gallery .share span img {
  background-position: 3px -74px;
}

.gallery #video212 .share {
  bottom: 40px;
}

.gallery.mobile #video212 .share {
  bottom: 0;
  left: 0;
}

.gallery .share span:hover {
  opacity: 1;
}

.gallery .share ul {
  margin: 3px 0 0 10px;
  padding: 0 0 0 13px;
  list-style: none;
  float: left;
  border-left: 1px solid $grey-base;
  line-height: 0;
  display: none;
}

.gallery .share ul li {
  display: inline;
  margin: 0 4px 0 0;
}

.gallery .share ul li img {
  width: 15px;
  height: 15px;
  opacity: 1;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.gallery .share ul li img:hover {
  opacity: 1;
}

.gallery .share ul li.facebook img {
  background-position: -20px -76px;
}

.gallery .share ul li.twitter img {
  background-position: -40px -76px;
}

.gallery .share ul li.google img {
  background-position: -60px -76px;
}

.gallery .share ul li.pinterest img {
  background-position: -80px -76px;
}


