<div class="signup signup2 animated fadeIn">
  <h1 class="col-xs-12"><%=title%></h1>
  <p class="subtitle"><%=text%></p>
  <div class="col-xs-12">
    <div class="wrapper-signup">
      <% if( tag === "download") {%>
      <div id="formularioWrapper" class="download-signup" style="width:550px; margin:auto"></div>
      <% }else{%>
      <div id="formularioWrapper" style="width:550px; margin:auto"></div>
      <% }%>

    </div>
  </div>
</div>
<%= sizmekCode %>
